In [3]:
name=input("Enter your name:")
age=input("Enter your Age:")
print(f"Hello "+name+ " Your age is: "+age)

Enter your name:abd
Enter your Age:21
Hello abd Your age is: 21

In [14]:
x=input("Enter any number")

if x.isnumeric():
    x=int(x)
else:
    x=float(x)
print(type(x))

Enter anything4.6
<class 'float'>

In [17]:
x=[1,3,5,7,"abd","bc"]
print(x)
print("adding an item\n")
x.insert(1,67)
print(x)
print("removing an item\n")
x.pop(3)
print(x)

[1, 3, 5, 7, 'abd', 'bc']
adding an item

[1, 67, 3, 5, 7, 'abd', 'bc']
removing an item

[1, 67, 3, 7, 'abd', 'bc']

In [18]:
x=("abc","def","ghi")
print(x)
print(type(x))
(a,b,c)=x
print(a)
print(b)

('abc', 'def', 'ghi')
<class 'tuple'>
abc
def

In [19]:
mydict={
      "Ahmad" : "A",
      "Abdullah" : "A-",
      "Umer Naseer": "B",
      "Ali": "C",
      "Qasim":"D"
}
print(mydict)

{'Ahmad': 'A', 'Abdullah': 'A-', 'Umer Naseer': 'B', 'Ali': 'C', 'Qasim': 'D'}

In [24]:
x=input("Enter list of anything")
y=list(x)

a=input("Enter list of anything")
b=list(a)

i=set(y)
j=set(b)
print(i)
print(j)
print("Intersection of sets")
k=set(i&j)
print(k)

print("Union of sets")
print(i|j)

print("Difference of sets")
print(i-j)

Enter list of anything4,5,6,7
Enter list of anything6,7,8,9
{'6', '5', ',', '7', '4'}
{'6', ',', '9', '7', '8'}
Intersection of sets
{'6', '7', ','}
Union of sets
{'6', ',', '5', '7', '9', '4', '8'}
Difference of sets
{'4', '5'}

In [26]:
x=input("Enter a number")
if x.isnumeric():
    x=int(x)
else:
    x=float(x)
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

if x % 2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number34
Positive
Number is even

In [43]:

x=list(range(1,51))
print(x)

for i in range(len(x)):
    if x[i]%3==0 and x[i]%5==0:
        (x[i])="fizzbuzz"
    elif x[i]%3==0:
        (x[i])="fizz"
    elif x[i]%5==0:
        (x[i])="buzz"

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz', 16, 17, 'fizz', 19, 'buzz', 'fizz', 22, 23, 'fizz', 'buzz', 26, 'fizz', 28, 29, 'fizzbuzz', 31, 32, 'fizz', 34, 'buzz', 'fizz', 37, 38, 'fizz', 'buzz', 41, 'fizz', 43, 44, 'fizzbuzz', 46, 47, 'fizz', 49, 'buzz']

In [45]:
x=input("Enter the number to find its factorial")
x=int(x)
fact=1
for i in range(1,x+1):
    fact=fact*i
print(fact)

Enter the number to find its factorial5
120

In [46]:
x=input("Enter the number to check for prime number")
x=int(x)

if x > 1:
  for i in range (2,(x//2)+1):
      if (x%i)==0:
          print(x,"is not a prime number")
          break
  else:
      print(x,"is a prime number")

Enter the number to find its factorial97
97 is a prime number

In [49]:
x=input("Enter list of numbers").split(",")
print(x)

new_list=[]
def sq_of_num(x):
    for i in range(len(x)):
        x[i]=int(x[i])
        x[i]=x[i]**2
        new_list.append(x[i])
    return x

print(sq_of_num(x))

Enter list of numbers1,2,3,4,5
['1', '2', '3', '4', '5']
[1, 4, 9, 16, 25]

In [52]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
print("Original dictionaries:")
print(d1)
print(d2)
print("Merging Dictionaries")
d1.update(d2)
print(d1)

Original dictionaries:
{'x': 1, 'y': 2}
{'y': 3, 'z': 4}
Merging Dictionaries
{'x': 1, 'y': 3, 'z': 4}

In [53]:
x=input("Enter list of numbers").split(",")
print(x)

y=list(dict.fromkeys(x))
print(y)

Enter list of numbers1,2,2,3,4,5,5,6,6
['1', '2', '2', '3', '4', '5', '5', '6', '6']
['1', '2', '3', '4', '5', '6']

In [54]:
string1 = "racecar"
string2 = "A man, a plan, a canal, Panama"
string3 = "hello"
is_palindrome = lambda text: text.lower().replace(" ", "") == text.lower().replace(" ", "")[::-1]
print(is_palindrome(string1))
print(is_palindrome(string2))
print(is_palindrome(string3))

True
False
False

In [55]:
def generate_fibonacci(n):

  fibonacci_sequence = []
  a, b = 0, 1

  for _ in range(n):
    fibonacci_sequence.append(a)
    a, b = b, a + b

  return fibonacci_sequence

n = int(input("Enter the number of Fibonacci numbers to generate: "))

fibonacci_numbers = generate_fibonacci(n)
print(fibonacci_numbers)

Enter the number of Fibonacci numbers to generate: 6
[0, 1, 1, 2, 3, 5]

In [72]:
for i in range(1, 11):
  for j in range(1, 11):
    print(i * j, end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
def cal_average(numbers):
    if not numbers:
        return None

    numeric_numbers = [num for num in numbers if isinstance(num, (int, float))]
    if len(numeric_numbers) != len(numbers):
        return None

    return sum(numeric_numbers) / len(numeric_numbers)


def get_numbers():
    numbers = []
    while True:
          num_str = input("Enter a number (or type 'done' to finish): ")
          if num_str.lower() == 'done':
              break
          num = float(num_str)
          numbers.append(num)

    return numbers


if __name__ == "__main__":
    numbers = get_numbers()
    average = cal_average(numbers)

    if average is not None:
        print("The average is:", average)
    else:
        print("Could not calculate the average. Please enter valid numeric input.")

In [75]:

def register(users):
  username = input("Enter a username: ")
  if username in users:
    print("Username already exists. Please choose a different one.")
    return
  password = input("Enter a password: ")
  users[username] = password
  print("Registration successful!")

def login(users):
  username = input("Enter your username: ")
  if username not in users:
    print("User not found.")
    return False
  password = input("Enter your password: ")
  if users[username] == password:
    print("Login successful!")
    return True
  else:
    print("Incorrect password.")
    return False

users = {}

while True:
  print("\nMenu:")
  print("1. Register")
  print("2. Login")
  print("3. Exit")

  choice = input("Enter your choice: ")

  if choice == '1':
    register(users)
  elif choice == '2':
    login(users)
  elif choice == '3':
    break
  else:
    print("Invalid choice.")

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 1
Enter a username: abd\
Enter a password: 1234
Registration successful!

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 2
Enter your username: abd\
Enter your password: 1234
Login successful!

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 3

In [76]:
def word_frequency(text):
    words = text.lower().split()
    frequency = {}
    for word in words:
        frequency[word] = frequency.get(word,0) + 1
    return frequency

user_input = input("Enter a list of words separated by spaces: ")
word_counts = word_frequency(user_input)
word_counts

Enter a list of words separated by spaces: tour abd efg

{'tour': 1, 'abd': 1, 'efg': 1}

In [78]:
def convert_temperature():


    while True:
        choice = input("Convert to (C)elsius or (F)ahrenheit? ").upper()
        if choice in ('C', 'F'):
            break
        else:
            print("Invalid choice. Please enter 'C' or 'F'.")

    try:
        temp = float(input("Enter the temperature value: "))
    except ValueError:
        print("Invalid temperature value. Please enter a number.")
        return

    if choice == 'C':
        celsius = (temp - 32) * 5/9
        print(f"{temp}°F is equal to {celsius:.2f}°C")
    else:
        fahrenheit = (temp * 9/5) + 32
        print(f"{temp}°C is equal to {fahrenheit:.2f}°F")

convert_temperature()

Convert to (C)elsius or (F)ahrenheit? C
Enter the temperature value: 10
10.0°F is equal to -12.22°C